*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body{
    background-color : #e2e2e2;
}

.form-notice{
    text-align: center;
    max-width: 100vw;
    height: 100%;
   
   
}
.input-box div{
    margin-bottom: 10px;
}
.form-notice form{
    max-width: 600px;
    height: 500px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.input-box{
    margin-top: 20px;
}
form input , textarea {
    font-size: 16px;
    border: 0;
    color: white;
    border-radius: 5px;
    background-color: #008BB4;
    height : 60px;
    padding-left: 50px;
    width: 100%;
}

input[type='submit']{
    width: 300px;
    height: 52px;
}
