
    <%- include('partials/header.html') %> 

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca:<%=busca %> </h2>
            <div class="center">
                <div style="width: 100%;" class="mais-lidas">
                    <h3><%=noticias.length %>  resultados</h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i=0; i<noticias.length;i++) { %> 
                            <div class="mais-lidas-noticias-single">
                                <img src=<%=noticias[i].imagem %>  alt=<%=noticias[i].category %> >
                                <div class="texto-noticia-single">
                                    <h4><%=noticias[i].title %> </h4>
                                    <p><%- noticias[i].shortContent %> ... </p>
                                    <a href=<%=noticias[i].slug %> >Saiba mais</a>
                                </div>
                            </div>
                        <% } %> 

                        
                    </div>
                </div>
            </div>
        </div>

    </section>

    <%- include('partials/footer.html') %> 
    
</body>
</html>