
    <%- include('partials/header.html') %> 
    <section class="news-rate">
        <div class="center">
            <div class="img-news">
                <div class="overlay-news"></div>
                    <div class="news-title">
                        <a href=<%=posts[0].slug %> ><h2><%=posts[0].title %> </h2></a>
                        <%- posts[0].shortContent %>...
                    </div>
                    <img  src=<%= posts[0].imagem %> >
            </div>
        </div>
    </section>


    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas noticias</h2>
            <div class="center">
                <div class="ultimas">
                    <% for(let i = 1; i<posts.length;i++) { %> 
                        <div class="box-ultimas-single">
                            <img src=<%= posts[i].imagem %> />
                            <div class="conteudo-noticia-single">
                                
                                <h3><%= posts[i].category %> </h3>
                                <h2><%= posts[i].title %> </h2>
                                <p><%- posts[i].shortContent %> </p>
                                <a href="<%=posts[i].slug %> ">Saiba mais</a>
                            </div>
                            
                        </div>
                    <% } %> 
                </div>
                <div class="mais-lidas">
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i = 0; i<PostsTop.length;i++)  {%> 
                            <div class="mais-lidas-noticias-single">
                                <img src=<%= PostsTop[i].imagem %> alt=<%= PostsTop[i].category %>>
                                <div class="texto-noticia-single">
                                    <h4><%= PostsTop[i].category %></h4>
                                    <p><%- PostsTop[i].shortContent %>...</p> - <span>Views : <%=PostsTop[i].views%> </span>
                                    <a href="<%=PostsTop[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                        <% } %> 

                        
                    </div>
                </div>
            </div>
        </div>

    </section>

    <%- include('partials/footer.html') %> 
    
</body>
</html>