
    <%- include('partials/header.html') %> 
    <section class="news-rate">
        <div class="center">
            <div class="img-news">
                <div class="overlay-news"></div>
                    <div class="actions">
                        <div class="favorite">
                            <!-- <div id="speech-bubble">
                                <h5>Adicionado a lista de favoritos :)</h3>
                            </div> -->
                            <% if(posts[0].favorite==true) {%> 
                                <a href="/unfavorite/<%=posts[0].id%>">
                                    <i class="fas fa-heart favorited"></i>
                                </a>
                            <% } else {%> 
                                <a href="/favorite/<%=posts[0].id%>">
                                    <i class="far fa-heart unfavorite"></i>
                                </a>
                            <% } %> 
                        </div>
                    </div>
                    <div class="news-author">
                        <div class="author-img-box"></div>
                        <h2>Por : <%= posts[0].author %> </h2>
                    </div>
                    <div class="news-title">
                        <a href="/categories/<%=posts[0].category%>/<%=posts[0].slug %>" ><h2><%=posts[0].title %> </h2></a>
                        <%- posts[0].shortContent %>...
                    </div>
                    <img   src=<%= posts[0].imagem %> >

            </div>
        </div>
    </section>


    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas noticias</h2>
            <div class="center">
                <div class="ultimas">
                    <% for(let i = 0; i<posts.length;i++) { %> 
                        <div class="box-ultimas-single">
                            <div class="favorite">
                                <% if(posts[i].favorite==true) {%> 
                                    <a href="/unfavorite/<%=posts[i].id%>">
                                        <i class="fas fa-heart favorited"></i>   
                                    </a>
                                <% } else {%> 
                                    <a href="/favorite/<%=posts[i].id%>">
                                        <i class="far fa-heart unfavorite"></i>
                                    </a>
                                <% } %> 
                            </div>
                            
                            <img src=<%= posts[i].imagem %> />
                            <div class="conteudo-noticia-single">
                                
                                <h3><%= posts[i].category %> </h3>
                                <h2><%= posts[i].title %> </h2>
                                <p><%- posts[i].shortContent %> </p>
                                <a href="/categories/<%=posts[i].category%>/<%=posts[i].slug %> ">Saiba mais</a>
                            </div>
                            
                        </div>
                    <% } %> 
                </div>
                <div class="mais-lidas">
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <% for(let i = 0; i<PostsTop.length;i++)  {%> 
                            <div class="mais-lidas-noticias-single">
                                <img src=<%= PostsTop[i].imagem %> alt=<%= PostsTop[i].category %>>
                                <div class="texto-noticia-single">
                                    <h4><%= PostsTop[i].category %></h4>
                                    <p><%- PostsTop[i].shortContent %>...</p> 
                                    <span>(Views :<%=PostsTop[i].views%>)</span>
                                    <a href="/categories/<%=PostsTop[i].category%>/<%=PostsTop[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                        <% } %> 

                        
                    </div>
                </div>
                
            </div>
            

        </div>

    </section>

    <section class="favoritos"> 
        <h2>Favoritos</h2>
        <div class="center">
            <div class="favoritos-box">
                <% for(let i = 0; i<favorites.length;i++) { %> 
                    <div class="box-favorite-single">
                            <div class="favorite-action">
                                <% if(favorites[i].favorite==true) {%> 
                                    <a href="/unfavorite/<%=favorites[i].id%>">
                                        <i class="fas fa-heart favorited"></i>
                                    </a>
                                <% } else {%> 
                                    <a href="/favorite/<%=favorites[i].id%>">
                                        <i class="far fa-heart unfavorite"></i>
                                    </a>
                                <% } %> 
                            </div>
                            
                            <img src=<%= favorites[i].imagem %> />
                            <div class="favorite-single-content conteudo-noticia-single">
                                
                                <h3><%= favorites[i].category %> </h3>
                                <h2><%= favorites[i].title %> </h2>
                                <p><%- favorites[i].shortContent %> </p>
                                <a href="/categories/<%=favorites[i].category%>/<%=favorites[i].slug %> ">Saiba mais</a>
                            </div>
                           
                     </div>
                     <% } %> 

                     <% if(favorites.length == 0) {%>

                        <h3 id="empty-list">Opss!! Nenhuma noticia adicionada a lista de favoritos :/</h3>
                        
                     <% } %> 
                </div>
         </div>
        </div>
    </section>


    <%- include('partials/footer.html') %> 
    
</body>
</html>