<%- include('partials/header.html') %> 


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%=noticias.title %> </h2>
            <div class="author-name">
                <span>Por <%= noticias.author %> </span> || <span>Visualizações : <%=noticias.views %> </span>
            </div>
                
             <p><%- noticias.content %> </p>
               
            
        </div>
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/src/images/NATUREZA1.png" alt=" Natureza">
                    <div class="texto-noticia-single">
                        <h4>Natureza</h4>
                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lidas-noticias-single">
                    <img src="/public/src/images/NATUREZA1.png" alt=" Natureza">
                    <div class="texto-noticia-single">
                        <h4>Natureza</h4>
                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lidas-noticias-single">
                    <img src="/public/src/images/NATUREZA1.png" alt=" Natureza">
                    <div class="texto-noticia-single">
                        <h4>Natureza</h4>
                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lidas-noticias-single">
                    <img src="/public/src/images/NATUREZA1.png" alt=" Natureza">
                    <div class="texto-noticia-single">
                        <h4>Natureza</h4>
                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</section>


<%- include('partials/footer.html') %> 

    



</body>

</html>