<%- include('partials/header.html') %> 


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%=noticias.title %> </h2>
            <div class="author-name">
                <span>Por <%= noticias.author %> </span> || <span>Visualizações : <%=noticias.views %> </span>
            </div>
            <img style="max-width: 100%;" src="<%=noticias.imagem %> "  />
             <p><%- noticias.content %> </p>
               
            
        </div>
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <% for(let i = 0; i<PostsTop.length;i++)  {%> 
                    <div class="mais-lidas-noticias-single">
                        <img src=<%= PostsTop[i].imagem %> alt=<%= PostsTop[i].category %>>
                        <div class="texto-noticia-single">
                            <h4><%= PostsTop[i].category %></h4>
                            <p><%- PostsTop[i].shortContent %>...</p> - <span>Views : <%=PostsTop[i].views%> </span>
                            <a href="<%=PostsTop[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                <% } %> 

                
            </div>
        </div>
    </div>

</section>


<%- include('partials/footer.html') %> 

    



</body>

</html>